.shadow-custom-md {
  box-shadow: inset 0 0 100px rgba(16, 21, 52, 0.5); /* Cambia los valores según tus preferencias */
}

/* Estilo para las opciones seleccionadas */
select option:checked {
  background-color: #58215f; /* Cambia el color de fondo */
  color: #eeeeee; /* Cambia el color del texto */
}

option{
  background-color: rgb(73, 27, 117);
}
